<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YWS 2.0</title>
     <link rel="icon"href="/view/index/icon.ico" >
    <?php include('view/common/style.html'); ?>
    <style type="text/css">
    </style>
</head>
<body>
    <div class="human index">
       <!-- 头部 -->
        <?php include('view/common/header.html'); ?>
        <!-- 左侧导航条 -->
        <div class="aside">
            <div class="logo">
                <img src="../../images/logo-index.png">
            </div>
            <div class="navs">
                <dl>
                    <dt>
                        <i class=" icon-user"></i>
                        <a href="javascript:;">人员信息管理</a>
                        <i class="icon-chevron-down"></i>
                    </dt>
                    <dd><a href="javascript:;">离职管理</a></dd>
                    <dt>
                        <i class=" icon-calendar"></i>
                        <a href="javascript:;">招聘管理</a>
                        <i class="icon-chevron-down"></i>
                    </dt>
                    <dd><a href="javascript:;">人才需求</a></dd>
                    <dd><a href="javascript:;">招聘需求管理</a></dd>
                </dl>
            </div>
        </div>

        <!-- 中间内容区 -->
        <div class="content desk-content">
        </div>
    </div>
    <?php include('view/common/script.html'); ?>
</body>
</html>