<div class="header">
    <div class="logo fl">
        <img src="/images/logo.png">
    </div>
    <div class="navs fl">
        <ul>
            <li>
                <a href="/index.php/index/index" >首页</a>
                <div class="biao"></div>
            </li>
            <li>
                <a href="/index.php/desk/desk">前台业务</a>
                <div class="biao"></div>
            </li>
            <li>
                <a href="/index.php/student/student">学员教务</a>
                <div class="biao"></div>
            </li>
            <li>
                <a href="/index.php/human/human">人力资源管理</a>
                <div class="biao"></div>
            </li>
        </ul>
    </div>
    <div class="user-ifo fr">
        <ul>
            <li><a href="javascript:;">用户名</a></li>
            <li><a href="javascript:;">北京校区</a></li>
            <li><a href="javascript:;">岗位名称</a></li>
            <li>
            <i class="icon-question-sign"></i>
            <a href="javascript:;">帮助中心</a>
            </li>
        </ul>
    </div>
</div>