<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YWS 2.0</title>
     <link rel="icon"href="/view/index/icon.ico" >
    <?php include('view/common/style.html'); ?>
    <style type="text/css">
    </style>
</head>
<body>
    <div class="student index">
       <!-- 头部 -->
        <?php include('view/common/header.html'); ?>
        <!-- 左侧导航条 -->
        <div class="aside">
            <div class="logo">
                <img src="../../images/logo-index.png">
            </div>
            <div class="navs">
                <dl>
                    <dt>
                        <i class="icon-list-alt"></i>
                        <a href="javascript:;">排课消课管理</a>
                        <i class="icon-chevron-down"></i>
                    </dt>
                    <dd><a href="javascript:;">一对一消课管理</a></dd>
                    <dd><a href="javascript:;">老师时间表</a></dd>
                </dl>
            </div>
        </div>

        <!-- 中间内容区 -->
        <div class="content desk-content">
        </div>
    </div>
    <?php include('view/common/script.html'); ?>
</body>
</html>