<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yes2.0</title>
    <link rel="icon"href="/view/index/icon.ico" >
     <?php include('view/common/style.html'); ?>
    <style type="text/css">
        a{
            text-decoration:
        }
    </style>
</head>
<body>
    <div class="index">
        <div class="login">
            <!-- 左侧信息栏 -->
            <div class="left fl">
                <h1>欢迎来到<b>优胜教育后台管理系统！</b></h1>
                <ul>
                    <li>客户资源分级分类，销售沟通更精准</li>
                    <li>邀约到访随时查看，管理业绩更轻松</li>
                    <li>校区课时全面纵览，排课调课更便捷</li>
                    <li>课时订单一键导出，财务数据更可靠</li>
                    <li>数据报表自动计数，人工统数不需要</li>
                </ul>
            </div>
            <!-- 右侧登录蓝 -->
            <div class="right fr">
                <div class="input-box">
                    <form>
                        <div class="username">
                            <i class="icon-user"></i>
                            <input type="text" value="请输入账号">
                        </div>
                        <div class="password">
                            <i class=" icon-lock"></i>
                            <input type="text" value="请输入密码">
                        </div>
                        <div class="barcode">
                            <input class="barcode-input" type="text" value="请输入验证码">
                            <div class="img">
                                <img src="../../images/barcode.png">
                            </div>
                        </div>
                        <input type="button" value="登录" class="btn">
                    </form>
                </div>
            </div>
        </div>
        <!-- 底栏信息 -->
        <div class="footer">
        Copyright(C)2000-2016 youwinedu.com Inc.All rights reserved.京ICP备05069609号-1（北京优胜辉煌教育科技有限公司）
        </div>
    </div>
    <?php include('view/common/script.html'); ?>
</body>
</html>